<div class="row">
	<div class="col">
		<form name="registerForm" ng-submit="register()">
			<div class="form-group">
				<label>Email address</label>
				<input type="email" class="form-control" ng-model="user.email" placeholder="Enter email" required>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="user.pass1" placeholder="Password" ng-minlength="8" required>
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" class="form-control" ng-model="user.pass2" placeholder="Confirm Password" ng-minlength="8" required>
			</div>
			<button type="submit" class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid">Submit</button>
		</form>
	</div>
</div>
